{% extends 'core/dashboard.html' %}
{% load static %}

{% block content %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
<link rel="stylesheet" href="{% static 'css/game_dashboard.css' %}">
{% endblock %}

<div class="game-container">
    <div class="game-header">
        <h2>
            <a href="{% url 'manager_game:options' game.id %}">{{ game.name }}</a>
        </h2>
    </div>

    <nav class="calendar-nav">
        <ul>
            {% for day in days %}
                <li {% if day.day_number == game.current_day %}class="active-day"{% endif %}>
                    Day {{ day.day_number }}: {{ day.event }}
                </li>
            {% endfor %}
        </ul>
    </nav>

    <nav class="navigation-menu">
        <ul>
            <li><a href="{% url 'manager_game:game_dashboard' game.id %}" class="btn btn-outline-light">Dashboard</a></li>
            <li><a href="{% url 'manager_game:game_matches' game.id %}" class="btn btn-outline-light">Matches</a></li>
            <li><a href="{% url 'manager_game:game_brands' game.id %}" class="btn btn-outline-light">Brands</a></li>
            <li><a href="{% url 'manager_game:power_rankings' game.id %}" class="btn btn-outline-light">Power Rankings</a></li>
            <li><a href="{% url 'manager_game:championships' game.id %}" class="btn btn-outline-light">Championships</a></li>
            <li><a href="{% url 'manager_game:game_rivalries' game.id %}" class="btn btn-outline-light">Rivalries</a></li>
            <li><a href="{% url 'manager_game:options' game.id %}" class="btn btn-outline-light">Options</a></li>
        </ul>
    </nav>

    {% block game_content %}
    {% endblock %}
</div>
{% endblock %}